# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
dist/
develop-eggs/
*.egg-info
*.egg
/htmlcov/

# Virtual environment
venv/
.venv/
env/
/bin/
/include/
/lib/
/lib64/

# Unit test / coverage reports
.coverage
.tox/

# Editors/IDEs
.idea/         # IntelliJ IDEA / PyCharm
*.swp          # vim swap files
.DS_Store      # macOS